extends layout
block extraHead
    script(src='/js/name-picker.js' type='module')
block content
    p.lead Spin for a name and post good code examples.
    hr
    .row
        .col-md-12
            ul#listOfNamesToSelect
                each val in teamMembers
                    li
                        label= val.name
                            input(type="checkbox", value=val.name, checked=val.selected)
    .row
        .col-md-12
            ul#listOfNames
            button#spinButton spin
    hr
    h2 Latest awesome code:
    blockquote #{codeExample.description}
    img(src='/uploads/' + codeExample.filename)
